// globals.scss

@font-face {
  font-family: 'Curse Casual';
  src: url("../public/Curse Casual.woff2") format("woff2")
}

$fontPrimary: 'Curse Casual', 'Roboto Condensed', 'Open Sans', sans-serif;
$fontSystem: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
$primaryBackground: #271a23;
$secondaryBackground: #3d2937;
$tertiaryBackground: #55384c;
$quaternaryBackground: #442337;
$headerBackground: #35212f;
$primaryDropshadowColor: #44233b;
$primaryBorder: #a74c7d;
$secondaryBorder: #1f161f;
$tertiaryBorder: #714059;
$textWhite: #fff;
$textBlack: #000;
$textGolden: #ffcc00;
$textBold: #eed0e2;
$textPrimary: #fff3d6;
$textSecondary: #b8729b;
$textTertiary: #bd89a8;
$textQuaternary: #c9579b;

html,
body {
  padding: 0;
  margin: 0;
  font: 100% $fontPrimary;
  color: $textPrimary;
  background-color: $primaryBackground;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
